[paths]
source = src/arta
    */.tox/*/lib/python*/site-packages/arta
    */.tox/pypy*/site-packages/arta
    */.tox\*\Lib\site-packages\arta
    */src/arta
    *\src\arta

[run]
branch = true
parallel = true
source =
    arta
omit =
    */tests/*

[report]
omit = tests
